.DS_Store
.env
.idea
.tmp
composer.lock
composer.phar
coverage
config/config.d/**
public/assets/node_modules/**
public/db/**
public/assets/cache/**
phinx.yml
private/apikeys/**
private/backups/**
private/cache/**
private/crypto/**
private/data/**
private/log/**
vendor/
yarn.lock
yarn-error.log
*~
*.mo
